/* Intended for the home page */

body {
    background-color: #add8e6;
}

a:visited {
    font-weight: bold;
    color: #800080;
}

a:hover {
    color: #dda0dd;
}

.center {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
/* Beef Stroganoff Page */
